BOT_TOKEN=...
FOLDER_ID=...
KEY_ID=...
ACCOUNT_ID=...
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDo/F4RnsO9gDmu\n...LT+N5+hX1whdmw==\n-----END PRIVATE KEY-----"
